
<h3>Downgrade Account</h3>

<p>Here, you can roll back you account from PREMIUM to STANDARD.<%= button_to "Downgrade", {action: "create" }, remote: true, data: { confirm: "Are you sure?" } %></p>

<%= link_to "Back", :back %>
